<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ProductManagementApp</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.training.nagarro.advancedJava3.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.training.nagarro.advancedJava3.controller.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.training.nagarro.advancedJava3.controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>com.training.nagarro.advancedJava3.controller.EditProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageMap</servlet-name>
    <servlet-class>com.training.nagarro.advancedJava3.controller.ImageMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.training.nagarro.advancedJava3.controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageMap</servlet-name>
    <url-pattern>/ImageMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
</web-app>