<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>FlashCart</title>
</head>
<style>
    .login-panel {
        margin-top: 150px;
        padding: 30px;
    }
</style>
<body background="">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



<div class="container-fluid">
    </br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/user"> FlashCart {{username}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link  {% if active == 'home' %} active {%endif%} " href="/home/">Home<span class="sr-only"></span></a>
            <a class="nav-item nav-link  {% if active == 'orders' %} active {%endif%} " href="/orders/">Orders<span class="sr-only"></span></a>
            <a class="nav-item nav-link  {% if active == 'profile' %} active {%endif%} " href="/profile/">Profile<span class="sr-only"></span></a> 
            <a class="nav-item nav-link  {% if active == 'cart' %} active {%endif%} " href="/cart/">Cart<span class="sr-only"></span></a>
            <a class="nav-item nav-link  {% if active == 'shop' %} active {%endif%} " href="/shop/">Shop<span class="sr-only"></span></a>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="GET" action="/shop/">
            <label class="nav-item nav-link">Category:</label>
            <select class="custom-select mr-2"  name='category' id="inputGroupSelect01">
                {% if sl_cat %}
                <option selected value="{{sl_cat.id}}">{{sl_cat.category}}</option>
                <option value="all">ALL</option>
                {%else %}
                <option selected value="all">ALL</option>
                {% endif %}
                {% for category in categories %}
                  {% if not sl_cat.category == category.category %}
                  <option value="{{category.id}}">{{category.category}}</option>
                  {% endif %}
                {% endfor %}
            </select>
            <label class="nav-item nav-link">City:</label>
            <select class="custom-select mr-2"  name='city' id="inputGroupSelect01">
                {% if sl_city %}
                  <option selected value="{{sl_city.id}}">{{sl_city.name}}</option>
                  <option value="all">ALL</option>
                {%else %}
                <option selected value="all">ALL</option>
                {% endif %}
                {% for city in cities %}
                  {% if not city.name == sl_city.name %}
                  <option value="{{city.id}}">{{city.name}}</option>
                  {% endif %}
                {% endfor %}
            </select>
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" value="{{search}}" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        <ul>
          <span class="navbar-text">
              <a href="/logout/" class="text-danger" >Log-out</a>
          </span>
          </ul>
        </div>
      </nav>
</div>

{% block content %}

{% endblock content %}

</body>
</html>
